<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src='js/script.js'></script>
<script src='js/classie.js'></script>


<div class="home-wrap">
  <div class="banner" style=" background-image: linear-gradient(223deg, rgba(15,17,125,0.4) 0%, rgba(15,17,125,0.4) 4%, rgba(0,128,128,0.3) 100%),url(<%= image_path 'Banner_blog.jpg' %>);">
    <div class="banner_content">
      <div class="banner_name">
        <h1>Abdallah Chaib</h1>
        <h2>Développeur web</h2>
      </div>
      <div class="arrow_down">
        <%= image_tag "arrow_down.svg",class: "arrow-img"%>
      </div>
    </div>

  </div>
<div class="profil">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia optio dolorum non. Pariatur perspiciatis, molestias perferendis. Ea alias ad itaque rerum, illum labore, vitae accusantium dolore repellat error vel, quas.</p>
  <p>Obcaecati, tenetur facilis, dignissimos iste ipsa aut ullam sint odit voluptas consectetur nam atque accusantium mollitia vel explicabo voluptatum minus facere sit qui rem nostrum. Atque odit officia explicabo, quibusdam!</p>
  <p>Sapiente sed error perspiciatis voluptatem numquam corporis, maiores quos doloribus ullam aperiam iure commodi voluptatum nostrum, ipsam modi! Nihil error quo nesciunt aliquam, facere incidunt illo, provident optio at quod.</p>
  <p>Aperiam quos eos facere, quas ipsa saepe necessitatibus. Amet sed neque sint quibusdam explicabo facere accusamus velit dolorum illum blanditiis quaerat assumenda corporis odit, natus esse possimus dolorem, mollitia iste.</p>
  <p>Pariatur facilis commodi iste itaque soluta vitae delectus, perferendis corporis dignissimos dolor illo, placeat, debitis? Sequi itaque, laboriosam earum odit praesentium at eos sint labore officia totam? Aut, iusto facere.</p>
  <p>Exercitationem maxime explicabo voluptatum repudiandae error quis sint repellendus dolore, consequuntur, veritatis. Sit ad doloribus, accusantium suscipit. Harum, quaerat. Autem perferendis sed cum sit, possimus quos voluptates doloremque saepe ipsam?</p>
  <p>Velit quam qui, fugiat optio animi ex sapiente nobis, odio atque, mollitia non totam cum laborum facere tempore? Rem aliquid, similique culpa asperiores explicabo neque esse rerum saepe eligendi minus.</p>
  <p>Nesciunt suscipit magnam cum veniam iure vero quasi animi accusamus, vel vitae impedit quis blanditiis laboriosam laudantium asperiores nulla eum reprehenderit esse eos tempora explicabo nostrum culpa qui. Animi, voluptates!</p>
  <p>Culpa deserunt eius assumenda rerum ullam, quis sunt magnam voluptatem quas earum. Sed illo, fugit consectetur illum quasi ipsam dolorum suscipit officiis non, quisquam tempora corporis beatae aliquam esse. Dolore.</p>
  <p>Suscipit natus nisi repellat repudiandae voluptatum esse tempora a obcaecati aliquid neque atque nihil aut dolor, consequatur iste nostrum id dolorem possimus quis nulla facilis quos ratione maiores expedita autem?</p>
  <p>Alias vitae beatae ea aliquam aperiam odit, blanditiis voluptates. Non velit quaerat illum hic ea optio cum, nostrum laudantium. Quo cupiditate obcaecati, tempora culpa sint ut explicabo voluptate laudantium inventore.</p>
  <p>Doloremque natus odit ea sequi recusandae nisi blanditiis possimus, rem pariatur odio maxime quasi, quo expedita et mollitia exercitationem ex. Saepe excepturi amet rem voluptatem molestiae, laudantium provident dolore suscipit?</p>
  <p>Placeat necessitatibus, ullam quibusdam impedit modi eos culpa deserunt, fugiat enim ipsam eum iste obcaecati unde qui dolorem labore voluptas pariatur tempora neque repellendus! Nisi doloribus iure autem rem illo.</p>
  <p>Alias explicabo, quasi sapiente iusto rem quos ut dolore et obcaecati ipsum laborum soluta rerum at ducimus iure amet repudiandae, tempore quia tenetur placeat! Doloremque debitis voluptatum error, dicta culpa!</p>
  <p>A non consequatur nesciunt possimus pariatur dolorem culpa natus modi dolore, amet reiciendis numquam commodi et. Perspiciatis consectetur, enim. Corrupti soluta quod in animi maiores, minima dolor? Sequi, possimus cupiditate!</p>
  <p>Similique provident fugiat vitae autem explicabo odio facere, amet eius? Culpa nisi enim, et iusto itaque consequuntur, expedita animi quia laudantium, quo placeat officia quod iste. Animi, est aspernatur natus.</p>
  <p>Non mollitia ipsam, enim nihil velit perferendis, molestias quo iure debitis. Quis qui facere vitae iste, esse repellendus repellat corporis tenetur. Tempora consequuntur quas voluptate aut voluptates, ad maxime possimus.</p>
  <p>Perspiciatis aspernatur ducimus soluta quod neque dolorum consectetur, saepe praesentium aliquid culpa velit illo! Dolorum, animi inventore. Fugit consequuntur inventore, maxime veniam vel? Ut, provident, accusamus. Ipsa voluptatum reprehenderit natus!</p>
  <p>Nesciunt eligendi nisi molestias maxime! Voluptatum reprehenderit quidem obcaecati nemo, pariatur voluptates soluta atque asperiores minus adipisci rerum, consequuntur minima veniam voluptate possimus a incidunt doloremque facere sint repudiandae unde.</p>
  <p>Odio doloribus ea modi, inventore iure! Qui blanditiis ipsam placeat voluptate, accusantium quia facilis ad a, necessitatibus maiores unde quae ab temporibus provident sapiente eveniet corporis perspiciatis error culpa quod!</p>
</div>
</div>
